/admin*/
/app/
/bin/
/cache/
/config/
/docs/
/download/
/img/
/js/
/localization/
/mails/
/pdf/
/src/
/tools/
/translations/
/upload/
/var/
/vendor/
/webservice/
/.htaccess
/autoload.php
/composer.lock
/desktop.ini
/error500.html
/INSTALL.txt
/Install_PrestaShop.html
/LICENSES
/robots.txt